.venv/

data/raw-ESOS-reports/*

.doc_cache

data/cached/*
!data/cached/.gitkeep

data/processed/*
!data/processed/.gitkeep

.env

# Ingore all __pycache__ directories, regardless of depth
**/__pycache__/*
